.swatch {
    width: 5vw;
    max-width: 60px;
    background-color: #DBDADA;
    margin-left: 10px;
    margin-top: 150px;
    height: 65vh;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon {
    width: 25px;
    height: 25px;
    margin: auto;
}